body {
  background-color: black;
  color: white;
  margin: 2em;
  // background-image: url("../../assets/images/dj.jpeg");
  // img {
  //   width: 50%;
  // }

  a {
    color: white;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}
