body {
  color: white;
  margin: 2em;
  background: url("../../assets/images/dj.jpeg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 55rem;
  input {
    outline: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}
