#welcome {
    text-align: center;

    h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.95em;
        font-weight: 300;
        color: #5EC352;
    }

    p {
        font-family: 'EB Garamond', serif;
        font-size: 1.25em;
        font-weight: 200;
        color: #5EC352;
    }
}
